
    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    body{
        box-sizing: border-box;
    }

    header,
    .flex-container,
    footer {
        margin: 0 50px;
        padding: 20px;
    }

    /* Header Section */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        text-align: center;
        color: #AC194A;
        border-bottom: 1px solid #e7e7e7;
    }

    .header-title {
        flex-grow: 1;
        text-align: center;
    }

    .header-title p {
        padding: 5px 0 0;
        font-size: 14px;
        color: #83787c;
    }

    .header svg {
        flex-basis: 50px;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        width: 94%;
        padding: 20px 0;

    }
    .menu {
        width: 200px;
        /* border-right: 1px solid #e7e7e7; */
        border-radius: 10px;
        background: #f6f6f6;
        padding: 30px 60px;


    }

    .content {
        flex-basis: 1150px;
        padding: 30px ;
    }

    .sidebar {
        
        border-left: 1px solid #e7e7e7;
        padding: 30px 60px;

    }

    /* Menu Section */
    .menu-heading,
    .sidebar-heading {
        font-size: 16px;
        color: #AC194A;
        margin-bottom: 10px;
    }

    .topic-list,
    .subtopic-list {
        list-style-type: none;
    }

    .topic-list__item,
    .subtopic-list__item {
        padding: 10px;
    }

    .topic-links,
    .subtopic-links {
        text-decoration: none;
        color: #161616;

    }
    /* Content */
    .content p{
        padding: 15px 0;
        text-align:justify;
        line-height: 1.5;
        color: #757575;
    }
    .content-heading{
        color: #AC194A;
    }
    .content-box img{
        display: block;
        margin: 10px auto;
        width: 500px;
        height:250px; 
        border-radius: 15px;
    }
    /* Footer */
    footer{
        border-top: 1px solid #e7e7e7;
        color: #757575;
        text-align: center;
    }       
    footer a{
        color: #AC194A;
    }


